<div>
    <h2>Get Current Currency Value</h2>
    <div>
        <label for="code">Currency Code:</label>
        <input type="text" id="code" [(ngModel)]="code" />
    </div>
    <div>
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" [(ngModel)]="firstname" />
    </div>
    <div>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" [(ngModel)]="lastname" />
    </div>
<!--    <button (click)="getCurrentCurrencyValue()">Get Value</button>-->
    <div *ngIf="value !== undefined">
        Current Currency Value: {{ value }}
    </div>
</div>

<div>
    <h2>All Requests</h2>
<!--    <button (click)="getAllRequests()">Refresh</button>-->
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Currency Code</th>
            <th>Currency</th>
            <th>Value</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let request of requests">
            <td>{{ request.firstname }}</td>
            <td>{{ request.lastname }}</td>
            <td>{{ request.code }}</td>
            <td>{{ request.currency }}</td>
            <td>{{ request.value }}</td>
            <td>{{ request.date }}</td>
        </tr>
        </tbody>
    </table>
</div>
